<h1>Help</h1>
<p>
As a capstone to our work on the layout and routing, in this section we’ll make a route for the signup page, which
will mean creating a second controller along the way. This is a first important step toward allowing users to
register for our site; we’ll take the next step, modeling users, in Chapter 6, and we’ll finish the job in Chapter 8.

</p>
